//importing all partial files to one global partial file
//this partial file can then be imported to any sass file
@import './typography';
@import './breakpoints';
@import './variables';
@import './mixins';

html{
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}