@import './breakpoints';
@import './variables';

@mixin header-style{
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-family: $semiBoldFont;

    //header style for desktop and tablet
    @include tablet{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@mixin subheader-style{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: $semiBoldFont;

    @include tablet{
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@mixin label-links{
    font-size: .8125rem;
    line-height: 1.25rem;
    font-family: $semiBoldFont;

    @include tablet{
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

@mixin table-header{
    font-size: .6875rem;
    line-height: 1rem;
    font-family: $semiBoldFont;

    @include tablet{
        font-size: .75rem;
        line-height: 1.125rem;
    }
}

@mixin body-large{
    font-size: .9375rem;
    line-height: 1.625rem;
    font-family: $regularFont;

    @include tablet{
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

@mixin body-medium{
    font-size: .8125rem;
    line-height: 1.25rem;
    font-family: $regularFont;

    @include tablet{
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

@mixin body-small{
    font-size: .6875rem;
    line-height: 1rem;
    font-family: $regularFont;

    @include tablet{
        font-size: .75rem;
        line-height: 1.125rem;
    }
}

@mixin flexBox($direction){
    display: flex;
    flex-direction: $direction;
}

@mixin divider(){
    height: 0.0625rem;
    width: 100%;
    background-color: $Cloud;
    border: none;
    margin: 0.5rem 0;

    @include tablet{
        margin: 1.5rem 0;
    }
}

@mixin buttonForm(){
    padding: 0.5rem 0;
    min-width: 7rem;
    text-decoration: none;
    border-radius: 1.25rem;
    text-align: center;

    @include title-break{
        width: 8.675rem;
    }

    @include tablet{
        width: auto;
        min-width: 4rem;
        padding: 0.5rem 1rem;
    }
}