@font-face {
    font-family: 'Titillium Regular';
    src:url("../assets/fonts/TitilliumWeb-Regular.ttf") format("ttf"),
        url("../assets/fonts/TitilliumWeb-Regular.woff") format("woff"),
        url("../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: 'Titillium Semi-Bold';
    src:url("../assets/fonts/TitilliumWeb-SemiBold.ttf") format("ttf"),
        url("../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"),
        url("../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
}