@import './typography';

//Colors
$Slate: #5C667E;
$Graphite: #232940;
$Green: #12D125;
$Cloud: #BDC5D5;
$Light-Grey: #F7F8F9;
$Red: #C94515;
$White: #FFFFFF;
$Pink: #F62BB7;


//Fonts
$regularFont: "Titillium Regular";
$semiBoldFont: "Titillium Semi-Bold";

//Padding or Margin
$mobile-pad: 1rem;

//Floater Height
$floater-mobile: 8.5rem;
$floater-tablet: 5.5rem;
$floater-desktop: 4.5rem;