@import "./typography";

//Colors
$Purple: #b026ff;
$Graphite: #232940;
$Green: #12d125;
$Cloud: #bdc5d5;
$Light-Grey: #f7f8f9;
$Red: #c94515;
$White: #ffffff;
$Pink: #f62bb7;

//Fonts
$regularFont: "Titillium Regular";
$semiBoldFont: "Titillium Semi-Bold";

//Padding or Margin
$mobile-pad: 1rem;

//Floater Height
$floater-mobile: 8.5rem;
$floater-tablet: 5.5rem;
$floater-desktop: 4.5rem;
