@use "./styles/variables" as *;
@use "./styles/global" as *;
@use "./styles/typography" as *;
@use "./styles/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

html,
body {
  // font-family: "Futura-light";
  background-color: grey;
}
